<app-nav></app-nav>

<div class="container py-5">
    <div class="shadow rounded mt-5 p-4">
        <div class="row">
            <div class="col-sm-3 col-12 mt-3">
                <app-sidebar></app-sidebar>
            </div>
            <!-- mis datos -->
            <div class="col-sm-9 col-12 mt-3">
                <h3 class="text-center fw-bold py-4" style="color:rgb(6, 170, 115)">MIS DATOS</h3>
                <!-- Body.. -->
                <div class="d-flex">
                    <div class="flex-fill border-box d-none d-lg-block" style="width: 5%; border-left: 1px solid rgb(6, 170, 115);">
                    </div>
                    <div class="flex-fill" style="width: 95%;">
                        <form #registroForm="ngForm">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <label for="nombres" class="form-label text-black-50">Nombres</label>
                                    <input type="text" class="form-control" name="nombres" id="nombres"
                                        [(ngModel)]="user_lc.nombres" disabled />
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="apellidos" class="form-label text-black-50">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" id="apellidos"
                                        [(ngModel)]="user_lc.apellidos" disabled />
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="email" class="form-label text-black-50">Correo</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        [(ngModel)]="user_lc.email" disabled />
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="telefono" class="form-label text-black-50">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono"
                                        [(ngModel)]="user_lc.telefono" disabled />
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="dni" class="form-label text-black-50">DNI</label>
                                    <input type="text" class="form-control" name="dni" id="dni"
                                        [(ngModel)]="user_lc.dni" disabled />
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="f_nacimiento" class="form-label text-black-50">Nacimiento</label>
                                    <input type="date" class="form-control" name="f_nacimiento" id="f_nacimiento"
                                        [(ngModel)]="user_lc.f_nacimiento" disabled />
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="genero" class="form-label text-black-50">Género</label>
                                    <select id="genero" class="form-select" name="genero" [(ngModel)]="user_lc.genero"
                                        disabled>
                                        <option value="{{user_lc.genero}}">{{user_lc.genero}}</option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="universidad" class="form-label text-black-50">Universidad</label>
                                    <select id="universidad" class="form-select" name="universidad"
                                        [(ngModel)]="user_lc.universidad" disabled>
                                        <option value="{{user_lc.universidad}}">{{user_lc.universidad}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="area" class="form-label text-black-50">Área</label>
                                    <select id="area" class="form-select" name="area" [(ngModel)]="user_lc.area"
                                        disabled>
                                        <option value="{{user_lc.area}}">{{user_lc.area}}</option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label for="escuela" class="form-label text-black-50">Escuela</label>
                                    <select id="escuela" class="form-select" name="escuela"
                                        [(ngModel)]="user_lc.carrera" disabled>
                                        <option value="{{user_lc.carrera}}">{{user_lc.carrera}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>