<app-nav></app-nav>

<div class="container py-5">
    <!-- ¿Qué es IngresaYAA? -->
    <div class="card-body mt-5">
        <h4 class="card-title text-center fw-bold">¿Qué es IngresaYAA?</h4>
        <p style="text-align: justify; padding: 4vh 2vh 0vh 0vh" class="card-text">Somos un equipo de profesionales y
            expertos en educación que trabajamos juntos para ofrecer a los estudiantes una plataforma en línea para
            medir su rendimiento en exámenes de admisión y cursos específicos. Nos apasiona ayudar a los estudiantes a
            alcanzar sus metas académicas y a tener éxito en sus carreras. <br> <br> En nuestro sitio web, nos
            comprometemos a proporcionar simulacros de exámenes de admisión y prácticas individuales por curso precisos
            y actualizados, que reflejen de cerca las exigencias y particularidades de cada examen y curso. Creemos que
            cada estudiante merece una oportunidad justa para demostrar su conocimiento y habilidades en exámenes de
            admisión y cursos, y nos esforzamos por ayudar a los estudiantes a lograrlo.</p>
    </div>

    <!-- Misión -->
    <div class="card mb-3 mt-5"
        style="max-width: 100%; border: 2px solid rgb(197, 81, 48); background-color: rgba(240, 128, 128, 0.110);">
        <div class="row g-0 mb-2 mt-2">
            <div class="col-md-4 px-3 py-3">
                <img src="../../../../assets/img/mision.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Misión</h5>
                    <p style="text-align: justify; padding: 2vh 2vh 0vh 0vh" class="card-text">Nuestra misión es
                        proporcionar una plataforma en línea para que los estudiantes puedan prepararse y medir su
                        rendimiento en exámenes de admisión y cursos específicos, que reflejen de cerca los
                        estándares, exigencias y particularidades de cada examen y curso en particular.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- vision -->
    <div class="card mb-3 mt-5"
        style="max-width: 100%; border: 2px solid rgb(18, 128, 144); background-color: rgba(32, 178, 171, 0.110);">
        <div class="row g-0 mb-2 mt-2">

            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Visión</h5>
                    <p style="text-align: justify; padding: 2vh 2vh 0vh 0vh" class="card-text ">Nuestra visión es
                        convertirnos en la plataforma de referencia para los estudiantes que buscan medir
                        su rendimiento y generar mayor confianza. Buscamos continuar mejorando
                        nuestros servicios para proporcionar simulacros de exámenes de admisión, que reflejen de cerca
                        las exigencias y particularidades de
                        cada examen y curso.</p>
                </div>
            </div>

            <div class="col-md-4 px-3 py-3">
                <img src="../../../../assets/img/vision.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>

</div> 