<app-nav></app-nav>

<div class="container py-5 mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <!-- Button trigger modal -->
        <div class="col-md-4 d-grid gap-2 mt-4">
            <button style="height: 50px;" class="btn btn-primary" type="button" data-bs-toggle="modal"
                data-bs-target="#commentModal">
                <i class="bi bi-plus-circle"></i> &nbsp; Agregar Comentario
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>

    <h4 class="fw-bold text-black-50 text-center mt-4">Reseñas de nuestros usuarios</h4>

    <div class="mt-4 pt-3">
        <!-- Cargar reseñas -->
        <ng-container *ngIf="load_data">
            <div class="text-center">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-container>
    </div>


    <!-- Comentarios -->
    <div>
        <ng-container *ngIf="!load_data">

            <!-- Sin reseñas -->
            <div *ngIf="reviews.length == 0">
                <div class="alert alert-danger text-center mt-4" role="alert">
                    <h1><i class="bi bi-exclamation-triangle"></i></h1>
                    Aún no existen reseñas de nuestros usuarios.
                </div>
            </div>

            <!-- Cuando existe más de una reseña -->
            <div *ngIf="reviews.length > 0">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="shadow rounded p-4 mb-5" *ngFor="let item of reviews | paginate: { itemsPerPage: 10, currentPage: p }">
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <div>
                                        <h6>
                                            <i class="bi bi-star-fill"
                                                [ngClass]="{'text-warning': item.estrellas >= 1}"></i>
                                            <i class="bi bi-star-fill"
                                                [ngClass]="{'text-warning': item.estrellas >= 2}"></i>
                                            <i class="bi bi-star-fill"
                                                [ngClass]="{'text-warning': item.estrellas >= 3}"></i>
                                            <i class="bi bi-star-fill"
                                                [ngClass]="{'text-warning': item.estrellas >= 4}"></i>
                                            <i class="bi bi-star-fill"
                                                [ngClass]="{'text-warning': item.estrellas >= 5}"></i>
                                        </h6>
                                    </div>

                                    <div class="mx-2">
                                        <h6 *ngIf="item.destacado">
                                            <span class="badge rounded-pill text-bg-warning"><i
                                                    class="bi bi-star-fill"></i>
                                                &nbsp;
                                                Destacado</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex align-items-center">
                                <div class="col">
                                    <div *ngIf="item.user._id == id" class="text-center py-2 px-3"
                                        style="border: 2px solid rgb(117, 204, 244); border-radius: 40px 30px 30px 0px; background-color: rgb(232, 248, 255);">
                                        <blockquote class="blockquote mb-0">
                                            <p [innerHTML]="item.comentario"></p>
                                        </blockquote>
                                    </div>

                                    <div *ngIf="item.user._id != id" class="text-center py-2 px-3"
                                        style="border: 2px solid rgb(214, 68, 254); border-radius: 40px 30px 30px 0px; background-color: rgb(248, 225, 255);">
                                        <blockquote class="blockquote mb-0">
                                            <p [innerHTML]="item.comentario"></p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div>
                                    <h6 class="" *ngIf="item.user._id == id">
                                        <span class="badge rounded-pill"
                                            style="background-color: rgb(24, 182, 255);font-size: 16px;">Tu comentario
                                        </span>
                                    </h6>

                                    <h6 *ngIf="item.user._id != id">
                                        <span class="badge rounded-pill"
                                            style="background-color: rgb(214, 68, 254);font-size: 16px;">
                                            {{item.user.nombres}}
                                            {{item.user.apellidos}}
                                        </span>
                                    </h6>
                                </div>

                                <div class="text-black-50">
                                    <i class="bi bi-calendar-event"></i> &nbsp; {{item.createdAt | date}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="card-footer text-center">
                <pagination-controls (pageChange)="p = $event" [responsive]="true" previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </ng-container>
    </div>
</div>

<!-- Modal comentario -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel">Agregar reseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                    <div class="mb-4">
                        <label for="review" class="form-label text-black-50 lead text-center">Estimado usuario, nos
                            encataría conocer
                            su opinión acerca de nuestro servicio. Por favor llene el siguiente formulario</label>
                        <tinymce id="review" placeholder="Ingrese la review" name="review" [(ngModel)]="review"
                            required>
                        </tinymce>
                    </div>

                    <div class="fs-2 text-center" style="cursor: pointer;">
                        <span class="bi bi-star-fill" [ngClass]="{'text-warning': valoracion >= 1}"
                            (click)="valoracion = 1"></span> &nbsp;
                        <span class="bi bi-star-fill" [ngClass]="{'text-warning': valoracion >= 2}"
                            (click)="valoracion = 2"></span> &nbsp;
                        <span class="bi bi-star-fill" [ngClass]="{'text-warning': valoracion >= 3}"
                            (click)="valoracion = 3"></span> &nbsp;
                        <span class="bi bi-star-fill" [ngClass]="{'text-warning': valoracion >= 4}"
                            (click)="valoracion = 4"></span> &nbsp;
                        <span class="bi bi-star-fill" [ngClass]="{'text-warning': valoracion === 5}"
                            (click)="valoracion = 5"></span>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid"
                            data-bs-dismiss="modal">
                            <i class="bi bi-plus-circle"></i> &nbsp; Registrar
                        </button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>