<app-nav></app-nav>

<div class="container py-4">
    <app-sidebar></app-sidebar>

    <div class="card shadow mt-4" style="border-color: #F8F8F8;">
        <h3 class="card-header d-flex justify-content-between">
            Ranking de simulacros
        </h3>
        <div class="card-body text-center">

            <div class="">
                <div class="text-center" *ngIf="load_data">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    </div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>

                <ng-container *ngIf="!load_data">

                    <!-- Sin notas -->
                    <div *ngIf="usuarios.length == 0">
                        <div class="alert alert-danger text-center mt-4" role="alert">
                            <h1><i class="bi bi-exclamation-triangle"></i></h1>
                            Aún no existen notas de nuestros usuarios
                        </div>
                    </div>

                    <!-- Cuando existe más de una nota -->
                    <div *ngIf="usuarios.length > 0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Orden</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Puntaje</th>
                                        <th scope="col">Nota</th>
                                        <th scope="col">Área</th>
                                        <th scope="col">Contactar</th>
                                        <th scope="col">Creación <small><small>user</small></small></th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr
                                        *ngFor="let item of usuarios | paginate: { itemsPerPage: 20, currentPage: p }; let indice = index">
                                        <th scope="row"> {{indice + 1}} &nbsp;
                                            <a (click)="obtener_examenes_user(item.user._id)" type="button"
                                                data-bs-toggle="modal" [attr.data-bs-target]="'#verModal-' + item._id">
                                                <i class="bi bi-graph-up-arrow"></i>
                                            </a>
                                        </th>
                                        <td>
                                            {{item.user.nombres}} {{item.user.apellidos}}
                                        </td>
                                        <td> {{item.puntos}} </td>
                                        <td [ngClass]="{'text-primary' : item.nota >= 10.5}"> {{item.nota}} </td>
                                        <td> {{item.user.area}} </td>
                                        <td> <a href="https://wa.me/51{{item.user.telefono}}" target="_blank">
                                                <i class="bi bi-whatsapp text-success"></i>
                                            </a> &nbsp;
                                            <a href="mailto: {{item.user.email}}" target="_blank">
                                                <i class="bi bi-envelope-at text-primary"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <small> {{item.user.createdAt | date}} </small>
                                        </td>

                                        <!-- Modal -->
                                        <div class="modal fade" id="verModal-{{ item._id }}"
                                            tabindex="-1" aria-labelledby="verModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-black-50" id="verModalLabel">
                                                            Historial de
                                                            simulacros:
                                                            <span class="fw-bold">
                                                                {{item.user.nombres}} {{item.user.apellidos}}
                                                            </span>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Examen</th>
                                                                        <th scope="col">Nota</th>
                                                                        <th scope="col">Fecha</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of resultadosExamen; let indicee = index">
                                                                        <th scope="row">{{indicee + 1}}</th>
                                                                        <td>{{item.nota}}</td>
                                                                        <td>{{item.createdAt | date}}</td>
                                                                    </tr>
                                                                    <tr class="fw-bold" style="background-color: rgb(220, 220, 220);">
                                                                        <td colspan="2">Promedio</td>
                                                                        <td>{{sumatoria / resultadosExamen.length | number}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

        <div class="card-footer text-center">
            <pagination-controls (pageChange)="p = $event" [responsive]="true" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>