<app-nav></app-nav>

<body>
    <div class="container py-5">
        <!-- Políticas de Privacidad IngresaYAA.com -->
        <div class="shadow rounded mt-5 p-4">
            <h2 class="card-title text-center fw-bold" style="padding: 2vh 0vh 0vh 0vh">
                Políticas de Privacidad IngresaYAA.com
            </h2>
            <p style="text-align: justify; padding: 4vh 2vh 0vh 2vh">
                En <strong>IngresaYAA</strong>, nos comprometemos a proteger la privacidad de nuestros usuarios y
                clientes. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información
                personal que recopilamos en nuestra aplicación web. Al utilizar nuestros servicios, acepta los términos
                de esta política de privacidad.
            </p>

            <!-- Recopilación de información personal: -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Recopilación de información
                personal:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Recopilamos información personal cuando se registra en nuestro sitio web, realiza una compra o se
                comunica con nosotros por correo electrónico o por teléfono. Esta información puede incluir su nombre,
                correo electrónico, número de teléfono y otra información necesaria para procesar su compra. También
                podemos recopilar información sobre su uso de nuestro sitio web, como las páginas que visita y el tiempo
                que pasa en nuestro sitio.
            </p>

            <!-- Uso de información personal: -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Uso de información personal:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Utilizamos la información personal que recopilamos para procesar sus compras, enviarle actualizaciones
                sobre su cuenta y enviarle información sobre nuestros productos y servicios. También podemos utilizar la
                información para mejorar nuestro sitio web y personalizar su experiencia de usuario
            </p>

            <!-- Divulgación de información personal -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Divulgación de información
                personal:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                No vendemos ni alquilamos su información personal a terceros. Sin embargo, podemos compartir su
                información con terceros que nos prestan servicios, como proveedores de pago. También podemos divulgar
                su información si creemos que es necesario cumplir con la ley o proteger nuestros derechos o propiedad.
            </p>

            <!-- Protección de información personal -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Protección de información
                personal:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Nos comprometemos a proteger la información personal que recopilamos. Utilizamos medidas de seguridad
                razonables para proteger su información contra el acceso no autorizado, la divulgación o el uso
                indebido.
            </p>

            <!-- Cookies -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Cookies:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Utilizamos cookies en nuestro sitio web para mejorar su experiencia de usuario. Las cookies son pequeños
                archivos que se colocan en su dispositivo cuando visita nuestro sitio web. Estas cookies nos permiten
                reconocer su dispositivo y personalizar de la mejor forma su experiencia de usuario.
            </p>

            <!-- Cambios en la política de prbivacidad -->
            <h5 style="text-align: justify; padding: 4vh 2vh 0vh 2vh" class="fw-bold">Cambios en la política de
                privacidad:</h5>
            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier
                cambio en esta política de privacidad se publicará en nuestro sitio web.
            </p>

            <p style="text-align: justify; padding: 0vh 2vh 0vh 2vh">
                Si tiene alguna pregunta sobre esta política de privacidad, no dude en contactarnos a través de
                <strong><a [routerLink]="['/usuario/contacto']" routerLinkActive="active" style="text-decoration:none;">
                        Contacto</a></strong>
            </p>
        </div>
    </div>
</body>